@model BookViewModel
@{
    ViewData["Title"] = "Kitap Detayı";
}
<h2>@Model.Title</h2>
<dl class="row">
    <dt class="col-sm-3">Yazar</dt><dd class="col-sm-9">@Model.AuthorFullName</dd>
    <dt class="col-sm-3">Tür</dt><dd class="col-sm-9">@Model.Genre</dd>
    <dt class="col-sm-3">Yayın Tarihi</dt><dd class="col-sm-9">@Model.PublishDate.ToString("dd.MM.yyyy")</dd>
    <dt class="col-sm-3">ISBN</dt><dd class="col-sm-9">@Model.ISBN</dd>
    <dt class="col-sm-3">Stok</dt><dd class="col-sm-9">@Model.CopiesAvailable</dd>
</dl>
<a asp-action="List" class="btn btn-secondary">Geri</a>
